integrations/n8n/manmul-inquiry-lite.workflow.json
{
  "name": "만물인테리어 · 상담 문의 처리 (무료·알고리즘)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manmul-inquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Webhook (상담 폼 수신)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 필드 정규화 + 규칙기반 상담 분석 (외부 API 없음 · admin.js aiSummary 이식)\nconst b = $json.body || $json;\nconst works = Array.isArray(b.works) ? b.works\n  : (b.works ? String(b.works).split(/[,·]/).map(s => s.trim()).filter(Boolean) : []);\nconst d = {\n  leadId: 'INQ-' + Date.now(),\n  source: b.source || 'website',\n  submittedAt: b.submittedAt || new Date().toISOString(),\n  name: (b.name || '').toString().trim(),\n  phone: (b.phone || '').toString().trim(),\n  type: (b.type || '').toString().trim(),\n  region: (b.region || '').toString().trim(),\n  area: Number(b.area) || null,\n  scope: (b.scope || '').toString().trim(),\n  works: works.join(', '),\n  budget: (b.budget || '').toString().trim(),\n  movein: (b.movein || '').toString().trim(),\n  live: (b.live || '').toString().trim(),\n  memo: (b.memo || '').toString().trim(),\n  estimateHint: (b.estimateHint || '').toString().trim(),\n  selectedDesign: (b.selectedDesign || '').toString().trim(),\n  consent: b.consent === true\n};\n\n// 한 줄 요약\nconst parts = [];\nif (d.region) parts.push(d.region);\nif (d.area) parts.push(d.area + '평');\nparts.push(d.type + (d.scope ? ' ' + d.scope + '공사' : ''));\nif (d.budget) parts.push(d.budget);\nif (d.movein) parts.push(d.movein + ' 희망');\nconst summary = parts.filter(Boolean).join(', ');\n\n// 추가 확인 질문 (규칙)\nconst q = [];\nif (d.type !== '상업' && !works.includes('샷시')) q.push('샷시 교체 여부');\nif (!works.includes('확장')) q.push('확장 계획');\nif (d.type === '주거') q.push('욕실 개수');\nif (d.live === '거주중') q.push('거주공사 가능 여부');\n\n// 우선순위 점수 (급함 + 예산 + 규모)\nlet score = 50;\nif (/1개월/.test(d.movein)) score += 20;\nif (/5천|8천|이상/.test(d.budget)) score += 15;\nif (d.scope === '전체' || d.scope === '전체공사') score += 10;\nif ((d.area || 0) >= 30) score += 5;\nscore = Math.min(score, 98);\nconst priority = score >= 80 ? '높음' : (score >= 65 ? '보통' : '낮음');\n\n// 공사 분류 · 예산 적합성 (규칙)\nconst workType = d.type === '상업' ? '상업공간'\n  : (d.scope.indexOf('부분') >= 0 ? '부분시공' : '주거전체');\nlet budgetFit = '확인필요';\nif (/8천|이상/.test(d.budget)) budgetFit = '적합';\nelse if (/^~?3천|3천만원 이하/.test(d.budget) && (d.area || 0) >= 30 && d.scope.indexOf('부분') < 0) budgetFit = '부족가능';\n\nreturn [{ json: { ...d,\n  ai: { summary, questions: q.slice(0, 3), score, priority, workType, budgetFit } } }];"
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "정규화 + 규칙 분석 (무료)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ],
      "notesInFlow": true,
      "notes": "유료 API 없이 규칙기반으로 요약·우선순위·추가질문·예산적합성을 계산합니다. 나중에 진짜 LLM 요약을 원하면 이 노드 뒤에 HTTP Request(Claude) 노드를 추가하세요."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "여기에_구글시트_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "상담리드"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "리드 저장 (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -140,
        300
      ],
      "notesInFlow": true,
      "notes": "무료 저장(DB 서버 불필요). Google Sheets 자격증명 연결 + 시트 ID 입력. 헤더 행: leadId,submittedAt,name,phone,type,region,area,scope,works,budget,movein,live,memo,estimateHint,selectedDesign. 자격증명 미설정 시 이 노드를 비활성화해도 나머지는 동작."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.KAKAO_ADMIN_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_object",
              "value": "={{ JSON.stringify({ object_type: 'text', text: '🔔 새 상담 [' + $json.ai.priority + ']\\n' + $json.name + ' (' + $json.phone + ')\\n' + $json.ai.summary + '\\n예산적합 ' + $json.ai.budgetFit + ' · 점수 ' + $json.ai.score, link: { web_url: 'https://01023978629.github.io/manmool/admin.html' }, button_title: '대시보드' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "대표에게 알림 (카카오/텔레그램)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        300
      ],
      "notesInFlow": true,
      "notes": "대표 통보. 카카오 '나에게 보내기'는 토큰이 만료되므로, 더 간단히는 Telegram Bot(무료·무만료) 노드로 바꿔도 됩니다. 통보 실패해도 저장·응답은 진행되게 'Continue On Fail' 켜세요."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, leadId: $json.leadId, message: '접수되었습니다. 대표 검토 후 안내드립니다.' } }}",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "웹사이트에 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000006",
      "name": "대표 승인 대기 (Wait)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        480
      ],
      "notesInFlow": true,
      "notes": "대표가 승인 링크를 누르면 재개. 승인 없이는 고객 발송 안 됨(무승인 발송 0)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000007",
      "name": "승인 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-alimtalk-provider.example.com/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('정규화 + 규칙 분석 (무료)').item.json.phone }}\",\n  \"templateCode\": \"manmul_survey\",\n  \"variables\": { \"#{고객명}\": \"{{ $('정규화 + 규칙 분석 (무료)').item.json.name }}\" }\n}",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000008",
      "name": "고객에게 안내 발송 (승인분)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        400
      ],
      "notesInFlow": true,
      "notes": "대표 승인분만 발송. 알림톡 템플릿은 integrations/alimtalk-templates.md 참고. 자동 확정 금지(최종금액·구조변경·안전판단)는 제외."
    },
    {
      "parameters": {},
      "id": "b1000000-0000-4000-8000-000000000009",
      "name": "보류/거절 (발송 안함)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        560
      ]
    }
  ],
  "connections": {
    "Webhook (상담 폼 수신)": {
      "main": [
        [
          {
            "node": "정규화 + 규칙 분석 (무료)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정규화 + 규칙 분석 (무료)": {
      "main": [
        [
          {
            "node": "리드 저장 (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "리드 저장 (Google Sheets)": {
      "main": [
        [
          {
            "node": "대표에게 알림 (카카오/텔레그램)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대표에게 알림 (카카오/텔레그램)": {
      "main": [
        [
          {
            "node": "웹사이트에 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "웹사이트에 응답": {
      "main": [
        [
          {
            "node": "대표 승인 대기 (Wait)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대표 승인 대기 (Wait)": {
      "main": [
        [
          {
            "node": "승인 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "승인 여부": {
      "main": [
        [
          {
            "node": "고객에게 안내 발송 (승인분)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "보류/거절 (발송 안함)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}